.wrapper {
  max-width: 1920px;
  margin: auto;
}

.navigation-body {
  padding: 10px 20px;
}

.dropdown-blog button {
  border: none;
  outline: none;
  background-color: transparent;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #2c3e50;
  background-image: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 2.3em;
  min-height: auto;
  border-radius: 0.25em;
  overflow: hidden;
}

.title {
  text-align: center;
}

.classic-form {
  max-width: 500px;
}

.subtitle {
  text-align: center;
  margin-bottom: 1.2rem;
}

.input-error {
  background-color: rgb(255, 233, 233) !important;
}

.important {
  background-color: #dc4c64;
}

.done {
  background-color: #14a44d;
}

.usual {
  background-color: #3b71ca;
}

a {
  cursor: pointer;
}

.users {
  position: absolute;
  left: 0;
  width: 20%;
}

@media screen and (max-width: 1000px) {
  .users {
    display: block;
    position: static;
    width: 100%;
    margin-top: 20px;
  }
  .users__body {
    width: 100%;
  }
}