@import "./general/ui";

.admin {
    &__users {
        width: 50%;
    }
    &__form {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .admin {
        &__users {
            width: 100%;
        }
        &__form {
            width: 100%;
        }
    }
}
