@import "./general/ui";

.notes {
    P {
        margin: 0;
    }

    &__item {
        margin-bottom: 15px;
        min-height: 50px;
        border-radius: 6px;
        transition: all 0.2s ease-in-out;
        padding: 8px;
        &:hover {
            border-radius: 10px;
            box-shadow: -10px 20px 40px -8px rgb(0 0 0 / 10%);
            transform: scale(1.01) translateX(10px);
        }

        .item {
            display: flex;
            &__name {
                flex: 1 1 auto;
                cursor: pointer;
            }

            &__circle {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }

    &__body {
        margin: 20px 0px;
    }

    .notes-form {
        margin: 20px 0px;
        &__type {
            flex: 0 0 50%;
        }
        &__actions {
            flex: 0 0 50%;
        }
        &__date {
            margin-right: 20px;
            flex: 1 1 auto;
            color: #4f4f4f;
            padding: 3px 5px;
            border-radius: 5px;
            background-color: transparent;
            border: 2px solid #bdbdbd;
            input {
                border: none;
                outline: none;
                color: #858585;
                &::-webkit-calendar-picker-indicator {
                    color: #fff;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        &__text {
            flex: 1 1 auto;
        }

        &__checkbox {
            flex: 0 0 10%;
        }
    }

    .title-blog {
        font-weight: 700;
    }
}

@media screen and (max-width: 767px) {
    .notes {
        .notes-form {
            &__inputs {
                flex-direction: column;
            }

            &__type {
                margin-bottom: 20px;
                align-items: flex-start;
            }
        }
    }
}
